<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name="com.reusable.subscription.ui.activity.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SubscriptionModule" />
        <activity
            android:name="com.reusable.subscription.ui.activity.DisplayTermOfUseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SubscriptionModule" />
    </application>

</manifest>
